# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.vs
.vscode/*
miner/pow/unittests/equihash_test
libsodium-1.0.16

.kdev4/
*.kdev4
*~
*.kate-swp
.idea/
build/
debug/
release/
cmake-build-*/

docs
wallet/unittests/wallet_test
beam/beam
beam/unittests/node_test
bin/address_test
bin/asyncevent_test
bin/reactor_test
bin/tcpserver_test
bin/timer_test
chain/unittests/chain_test
miner/unittests/equihash_test
miner/unittests/miner_test
pool/unittests/pool_test
utility/unittest/serialize_test
utility/unittest/serialization_adapters_test
bin/channel_test
utility/unittest/timer_test
keychain/unittests/keychain_test
p2p/unittest/connectivity_stub_test
utility/unittest/address_test
utility/unittest/asyncevent_test
utility/unittest/channel_test
utility/unittest/logger_test
utility/unittest/reactor_test
utility/unittest/shared_data_test
utility/unittest/tcpclient_test
utility/unittest/tcpserver_test
wallet/unittests/keychain_test
wallet/unittests/wallet.dat
wallet/unittests/wallet_network_test
wallet/unittests/private_key_test
core/unittest/storage_test
core/unittest/ecc_test
.vs/
CMakeSettings.json
/utility/unittest/config_test
/p2p/unittest/dialog_test
/p2p/unittest/msg_serializer_test
/p2p/unittest/twopeers_test
/utility/unittest/bridge_test
/utility/unittest/config_test
beam/wallet.dat
3rdparty/opencl-miner/equihash_150_5.dat
ui/beam.rc
ui/beam.png
ui/beam.icns
ui/icon.ico
ui/Info.plist
ui/beam.desktop
ui/*.qm
ui/translations.qrc
beam_version.gen
keykeeper/wasm-key-keeper.*
