# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.cache/

.vs
.vscode/*
miner/pow/unittests/equihash_test
libsodium-1.0.16

.kdev4/
*.kdev4
*~
*.kate-swp
*.cbp
.idea/
build/
debug/
release/
cmake-build-*/

docs
beam/beam
bin/address_test
bin/asyncevent_test
bin/reactor_test
bin/tcpserver_test
bin/timer_test
bin/channel_test
CMakeSettings.json
beam/wallet.dat

# In-tree CMake executables (Unix/macOS; out-of-source builds use ignored build/)
beam/beam-node
bvm/ethash_service/ethash-service
bvm/sid_generator/generate-sid
explorer/explorer-node
node/functionaltests/*_test
node/utils/laser_beam_demo
node/utils/node_net_sim
node/utils/pipe_link
pow/miner_client
wallet/api/wallet-api
wallet/broadcaster/broadcaster
wallet/cli/beam-wallet
wasmclient/wasm-client
3rdparty/libbitcoin/examples/atomic_swap
3rdparty/libbitcoin/examples/electrum_get_balance
3rdparty/libbitcoin/examples/ethereum_example
3rdparty/libbitcoin/examples/get_info
3rdparty/libbitcoin/examples/sign_tx

3rdparty/opencl-miner/equihash_150_5.dat
ui/beam.rc
ui/beam.png
ui/beam.icns
ui/icon.ico
ui/Info.plist
ui/beam.desktop
ui/*.qm
ui/translations.qrc
beam_version.gen
keykeeper/wasm-key-keeper.*
*/unittest/*
*/unittests/*

out/
wmake.sh
