[Desktop Entry]
Version=0.1
Name=Beam Wallet
Comment=Scalable confidential cryptocurrency
Exec="/usr/bin/Beam Wallet" %U
Icon=beam
Terminal=false
Type=Application
Categories=Network
MimeType=application/x-beam-item;
GenericName=Beam Wallet
